<!DOCTYPE html>
<html>
<head>
    <title>{% block title %}Мой сайт{% endblock %}</title>
</head>
<body>
    <header>
        <nav>
            <ul>
                <li><a href="{% url 'home' %}">Главная</a></li>
                <li><a href="{% url 'software' %}">Программное обеспечение</a></li>
                <li><a href="{% url 'about' %}">О нас</a></li>
                <li><a href="{% url 'news' %}">Новости</a></li>
                {% if user.is_authenticated %}
                    <li><a href="{% url 'profile' %}">Профиль</a></li>
                    <li>{{ user.username }}. <a href="{% url 'logout' %}">Выйти</a></li>
                {% else %}
                    <li><a href="{% url 'login' %}">Войти</a></li>
                    <li><a href="{% url 'register' %}">Регистрация</a></li>
                {% endif %}
            </ul>
        </nav>
    </header>
    <main>
        {% block content %}
        {% endblock %}
    </main>
</body>
</html>