{% extends 'base.html' %}

{% block title %}Список исследований{% endblock %}

{% block content %}
    <h2>Список исследований</h2>
    <a href="{% url 'create_research' %}">Создать новое исследование</a>
    <table>
        <thead>
            <tr>
                <th>
                    <a href="{% url 'research_list_sorted' 'title' 'asc' %}">Название ↑</a>
                    <a href="{% url 'research_list_sorted' 'title' 'desc' %}">Название ↓</a>
                </th>
                <th>Описание</th>
                <th>
                    <a href="{% url 'research_list_sorted' 'date' 'asc' %}">Дата создания ↑</a>
                    <a href="{% url 'research_list_sorted' 'date' 'desc' %}">Дата создания ↓</a>
                </th>
            </tr>
        </thead>
        <tbody>
            {% for research in researches %}
                <tr>
                    <td>{{ research.title }}</td>
                    <td>{{ research.description }}</td>
                    <td>{{ research.created_at|date:"d.m.Y H:i" }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}