<!DOCTYPE html>
<html>
<head>
    <title>Программное обеспечение</title>
</head>
<body>
    <h2>Программное обеспечение</h2>
    <nav>
        <ul>
            <li><a href="{% url 'home' %}">Главная</a></li>
            <li><a href="{% url 'software' %}">Программное обеспечение</a></li>
            <li><a href="{% url 'about' %}">О нас</a></li>
            <li><a href="{% url 'news' %}">Новости</a></li>
        </ul>
    </nav>
    <p>Здесь вы можете узнать о нашем программном обеспечении.</p>
</body>
</html>